@use "1-tools/grid" as grid;
/* Post + Page */

.page {
  max-width: 1000px;
  margin: 0 auto 20px;
  color: var(--text-color);

  a {
    font-weight: 500;
    border-bottom: 1px solid var(--border-color);

    &:hover {
      color: var(--link-color);
      border-bottom-color: var(--link-color-hover);
    }
  }

  img, .js-reframe {
    border-radius: 8px;
    overflow: hidden;

    &.lightense-open {
      border-radius: 0;
    }
  }

  .button {
    border: none;
    text-decoration: none;
  }
}


.page__info {
  max-width: 760px;
  margin: 96px auto 48px;
  text-align: center;

  @media only screen and (max-width: grid.$desktop) {
    max-width: 100%;
    margin: 40px auto;
  }

  @media only screen and (max-width: grid.$mobile) {
    margin: 40px auto 32px;
  }
}


.page__title {
  margin-bottom: 20px;
  font-size: 62px;
  line-height: 1.2;

  @media only screen and (max-width: 1140px) {
    font-size: 64px;
  }

  @media only screen and (max-width: grid.$desktop) {
    font-size: 48px;
  }

  @media only screen and (max-width: grid.$mobile) {
    margin-bottom: 24px;
    font-size: 32px;
  }
}





.page-image {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 48px;
  border-radius: 16px;
  overflow: hidden;
  background: var(--background-alt-color);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    user-select: none;
  }
  
  @media only screen and (max-width: grid.$desktop) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: grid.$mobile) {
    padding-top: 62%;
    margin-bottom: 32px;
  }
}

// 

.navbar {
  padding: 10px;
}

.navbar ul {
  list-style-type: none; /* Removes the bullet points */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  padding: 8px 16px;
}

